<style>
    .image-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        gap: 10px;
    }

    .image-gallery a {
        display: block;
        text-align: center;
        text-decoration: none !important;
    }

    .image-gallery a span {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 3px 0;
    }

    .image-gallery a img {
        width: 100%;
        display: block;
    }
</style>

<div class="image-gallery">
    {% for file in site.data.photos[include.category] %}
    {% if file.path contains include.folder %}

    {% assign filenameparts = file.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: "jpg","" %}

    <a href="{{ file.path }}" title="{{ file.material }}"
       data-fslightbox="gallery"
       data-caption="{{ file.material | default: '' }}"
    >
        <img src="{{ include.folder }}/{{ filenameparts | last }}"
             alt="{{ file.material }}"/>
    </a>
    {% endif %}
    {% endfor %}
</div>